* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/*  Mod luminos  */

/* Stil pentru butonul de schimbare a modului */
.mode-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #9154e718;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.mode-toggle:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
}

/* Mod luminos */
body.light-mode {
    background-color: #f9f9f9;
    color: #000;
}

body.light-mode .header {
    background-image: radial-gradient(farthest-corner at 40px 40px, #ffffff 0%, #858484 100%);
}

body.light-mode .nav-links ul li a:hover {
    color: #19181ab7;
}


body.light-mode .nav a img{
    background-color: #000;
}

body.light-mode .text-box h1 {
    color: #000;
}

body.light-mode .hero-btn {
    color: #000;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0.1);
}

body.light-mode .hero-btn:hover {
    background: rgba(0, 0, 0, 0.2);
}

body.light-mode .servicii {
    background: linear-gradient(217deg, #858484, #dcdbdb 100%),
                linear-gradient(127deg, #858484, #858484 70.71%),
                linear-gradient(336deg, #858484, #858484 70.71%);
}

body.light-mode .servicii-col {
    background-color: #f9f9f900;
    color: #333;
    border: 2px solid #ccc;
}

body.light-mode .servicii-col:hover {
    background: rgba(0, 0, 0, 0.1);
    color: #000;
}

body.light-mode .servicii-col h3{
    color: #000;

}

body.light-mode .servicii-col p{
    color: #000;
}

body.light-mode .text-box p {
    color: #000;

}

body.light-mode .servicii-frm h1{
    color: #000;
}


/*-------------------*/

/* Stiluri generale pentru nav-bar *
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); /* Implicit întunecat *
    color: #fff;
    padding: 10px 20px;
    position: relative;
    z-index: 10;
}*/



/* Luminos */


/* Butonul întrerupător */
.mode-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
    height: 30px;
    background: #5454e718;
    border: 1px solid #fff;
    border-radius: 15px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: -70px;
    z-index: 20;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.mode-toggle::before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

body.light-mode .mode-toggle {
    background: #ccc;
    border-color: #000;
}

body.light-mode .mode-toggle::before {
    background-color: #000;
    transform: translate(35px, -50%);
}

/* Poziționare pe mobil */
@media (max-width: 768px) {
    .mode-toggle {
        top: 10px;
        left: 10px; /* Colțul stânga-sus */
        right: auto;
    }
}
