/* sectiunea servicii */




.servicii {
    background-image: radial-gradient(farthest-corner at 40px 40px,rgb(0, 0, 0) 0%,rgb(6, 4, 35) 100%);
    /*background-image: radial-gradient(rgb(7, 1, 19) ,  rgb(0, 0, 0) 40%);*/
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.servicii-frm {
    width: 90%;
    margin: auto;
}

h1 {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 coloane */
    grid-template-rows: repeat(2, 1fr); /* 2 rânduri */
    gap: 20px;
    justify-items: stretch; /* Cardurile vor umple lățimea disponibilă */
    margin-top: 30px;
}

.servicii-col {
    background-color: rgba(174, 173, 173, 0.033);
    color: #f9f9f9;
    border: 2px solid #d6d6d6;
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 20%;
    position: relative;
    height: 0;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    transition: transform 0.3s ease;
}

/* Forme diferite pentru carduri */
.card1 {
    grid-column: span 1; /* Se întinde pe 2 coloane */
    grid-row: span 3; /* Se întinde pe un singur rând */
}

.card2 {
    grid-column: span 1;
    grid-row: span 2; /* Se întinde pe 2 rânduri */
}

.card3 {
    grid-column: span 1;
    grid-row: span 2;
}

.card4 {
    grid-column: span 1;
    grid-row: span 1;
}

.card5 {
    grid-column: span 1; /* Se întinde pe 2 coloane */
    grid-row: span 1; /* Se întinde pe un singur rând */
}

.servicii-col h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.servicii-col p {
    font-size: 14px;
    color: #aaa;
}

.servicii-col:hover {
    transform: scale(1.05); /* Zoom pe card la hover */
    border: 1px solid #ffffff ;
    background: #bb54e713 ;
    color: #fff ;
    
}
