/* sectiunea servicii */




.servicii {
    /*background-image: radial-gradient(farthest-corner at 40px 40px,rgb(0, 0, 0) 0%,rgb(6, 4, 35) 100%);
    /*background-image: radial-gradient(rgb(7, 1, 19) ,  rgb(0, 0, 0) 40%);*/
    background: linear-gradient(217deg, rgba(6, 4, 35), rgb(3, 2, 20) 70.71%),
            linear-gradient(127deg, rgb(0, 0, 0), rgb(0, 0, 0) 70.71%),
            linear-gradient(336deg, rgb(0, 0, 0), rgb(0, 0, 0) 70.71%);
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.servicii-frm {
    width: 90%;
    margin: auto;
}

.servicii-frm h1 {
    color: #fff;
    font-size: 36px;
    letter-spacing: .2rem;
    font-weight: bold;
    margin-bottom: 120px;
    
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 coloane */
    grid-template-rows: repeat(2, 1fr); /* 2 rânduri */
    gap: 20px;
    justify-items: stretch; /* Cardurile vor umple lățimea disponibilă */
    margin-top: 30px;
}

.servicii-col {
    background-color: rgba(174, 173, 173, 0.033);
    color: #f9f9f9;
    border: 2px solid #d6d6d6;
    border-radius: 15px;
    padding: 20px;
    padding-bottom: 20%;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    height: 100%;
    transition: transform 0.3s ease, background 0.3s ease, border-color 0.3s ease;
    backdrop-filter: blur(10px);
    will-change: transform, background, border-color; /* Optimizare */
}

/* Forme diferite pentru carduri */
.card1 {
    grid-column: span 1; /* Se întinde pe 2 coloane */
    grid-row: span 3; /* Se întinde pe un singur rând */
}

.card2 {
    grid-column: span 1;
    grid-row: span 2; /* Se întinde pe 2 rânduri */
}

.card3 {
    grid-column: span 1;
    grid-row: span 2;
}

.card4 {
    grid-column: span 1;
    grid-row: span 1;
}

.card5 {
    grid-column: span 1; /* Se întinde pe 2 coloane */
    grid-row: span 1; /* Se întinde pe un singur rând */
}

.servicii-col h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: rgb(200, 200, 200);
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    transition: color 0.3s ease;
    text-rendering: optimizeLegibility; /* Optimizează redarea textului */
    -webkit-font-smoothing: antialiased; /* Redare consistentă pe WebKit */
}

.servicii-col p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: rgb(200, 200, 200);
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    transition: color 0.3s ease;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.servicii-col p br {
    display: block;
    margin-bottom: 50px; /* Adaugă spațiu între linii */
}



.servicii-col:hover {
    transform: scale(1.05);
    border: 1px solid #ffffff;
    background: #9154e718;
    color: #fff;
}

/* Text pe hover */
.servicii-col:hover h3,
.servicii-col:hover p {
    color: #fff;
}




