
/*--------------blocul asta ramane asa--------------------*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    background-color: rgba(0, 0, 0, 0.232); 
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
    transition: all 0.5s ease-in-out;
}

nav.hidden {
    background-color: transparent; 
    padding: 2% 6% 2% 6%; 
}
nav.hidden .nav-links {
    opacity: 0;
    pointer-events: none;
}
.nav-links {
    flex: 1;
    text-align: right;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}
/*---------------------------------------*/


/* Logo vizibil constant, indiferent de scroll */
#default-logo {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#scroll-logo {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

nav.hidden #scroll-logo {
    opacity: 100; /* Logo-ul de scroll devine vizibil */
}

nav.hidden #default-logo {
    opacity: 0; /* Logo-ul principal devine invizibil */
}


/*-------------------*/


nav a img {
    width: 200px; /* Adjust the width */
    height: auto; /* Maintain aspect ratio */
}

/*---------logo-----------*/



.nav-links ul {
    display: flex; /* Ensures items align horizontally */
    justify-content: flex-end; /* Push items to the right */
    align-items: center;
}

.nav-links ul li {
    list-style: none;
    padding: 8px 12px;
}

.home-btn{
    display: none;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links ul li ::after{
     content: '';
     width: 0%;
     height: 2px;
     background: #0d0c14a3;
     display: block;
     margin: auto;
     transition: 0.5s;
}


.nav-links ul li a:hover {
    color: #bb54e7b7; /* Adds hover effect */
}

.nav-links ul li :hover::after {
    width: 100%;

}

nav .fa{
    display: none;
}
