.col-container {
    margin: auto;
}

.descriere {
    background-image: linear-gradient(to bottom, #08073c, #150843, #180a4e, #1f064e, #1f064e);
    color: #f9f9f9;
    width: 100%;
    min-height: 120vh; /* Dimensiune dinamică */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Aliniază elementele la început */
    align-items: center;
    padding: 50px 150px; /* Spațiu interior mai mic */
    box-sizing: border-box;
}

.descriere-title {
    position: relative;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    margin: 20px auto; /* Spațiere echilibrată */
    margin-bottom: 120px;
    margin-top: 120px;

}

.descriere-frm {
    width: 100%;
    /*max-width: 1200px;*/
    margin: 0 auto;
}

.col-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px; /* Spațiu între carduri */
}

.card {
    background: rgba(225, 225, 225, 0.1); /* Fundal semi-transparent */
    backdrop-filter: blur(30px); /* Efect de blur */
    border-radius: 15px; /* Colțuri rotunjite */
    padding: 40px; /* Spațiu interior mai mare */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Umbra cardului */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    /*max-height: 100vh; /* Limitează înălțimea maximă a cardurilor */
}

.card:hover {
    transform: scale(1.05); /* Zoom ușor la hover */
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); /* Umbra mai intensă la hover */
}

.col h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
}

.col ul {
    padding: 0;
    list-style: disc;
    margin-left: 20px;
}

.col ul li {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px; /* Spațiu mai mare între puncte */
    color: #d0d0d0;
}

.col ul li strong {
    color: #fff;
}


